root = "."
testdata_dir = "testdata"
tmp_dir = "_temp"

[build]
  args_bin = [
       "serve",
  ]
  bin = "_temp/main"
  cmd = "go build -o _temp/main ./cmd/server"
  delay = 1000
  exclude_dir = ["_migrations", "_temp", "vendor"]
  exclude_file = []
  exclude_regex = []
  exclude_unchanged = false
  follow_symlink = true
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html"]
  include_file = []
  kill_delay = "2s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 80
  enabled = false
  proxy_port = 8090

[screen]
  clear_on_rebuild = true
  keep_scroll = true